<h1>List of My Games</h1>
<ul><p><u>Name,  Game ,  Won = true,  Loss = false </u></p>  
<% @games.each do |game|%>
<li><%= game.user.name %>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/games/<%= game.id %>"><%= game.id %></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= game.won %></li><p></p>
<% end %>

<ul>
     <nav>
     <p><a href="/games/new">Create New Game</a></p>
     </nav>
     <nav>
     <p><a href="/games">List of All Games</a></p>
     </nav>      
     <nav>
     <p><a href=<%="/users/#{current_user.id}"%>>Your Dash-Board</a></p>
     </nav>             
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>