<h1>List of My Games</h1>
<ul><p><u>user id,  game number,  won = true,  loss = false </u></p>  
<% @games.each do |game|%>
<li><%= game.user_id %>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/games/<%= game.id %>"><%= game.id %></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= game.won %></li>
<% end %>

<ul>
     <nav>
     <p><a href="/games/new">Create New Game</a></p>
     </nav>
     <nav>
     <p><a href="/games">List of All Games</a></p>
     </nav>      
     <nav>
     <p><a href=<%="/users/#{current_user.id}"%>>Your Dash-Board</a></p>
     </nav>             
     <nav>
     <p><a href="/logout">Logout</a></p>
     </nav>